@charset "UTF-8";
 body {
    font-family: Noto Serif JP, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }


  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: red;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }
　img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

 

  .big_box {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }

  main {
    width: 100%;
  }
  .menu {
    background-color: #BEBEBE;
  }

  .menu h1 {
    text-align: center;
	color: white;
    margin-bottom: 20px;
    background: #333;	
  }
  .menu h2 {
    text-align: center;
    width: fit-content; 
	color: white;
  background-color: #333; 
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 5px;
  }


  .menu .meat-category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

  .menu .meat-category div {
    flex: 1 1 200px;
    text-align: center;
  }

  .menu img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }